h1 {
  color: aliceblue;
}

.principale {
  color: white;
  text-align: center;
  height: -webkit-fill-available;
}

label {
  padding-right: 1px;
  color: white;
}

._tri {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

._filtre {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.select-group {
  padding-top: 15px;
}

.radio-group {
  display: flex;
  flex-direction: initial;
}

.note_min {
  width: fit-content;
  padding: 0px;
  background: none;
  border: none;
  box-shadow: none;
}

.year_min {
  width: 80px;
  padding: 0px;
  background: #dadacb3d;
  border: none;
  box-shadow: none;
  padding-left: 10px;
  color: white;
}

.slider {
  display: flex;
  flex-direction: column;
  color: white;
}

.year {
  display: flex;
  flex-direction: column;
  color: white;

}

#label_filtre {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

mat-radio-button {
  background-color: #ffffff00;
  color: white;
  border: none;
}
