<h1>Welcome to home</h1>
<div class="container">
 	<div class="row">
        <div class="col-md-4 offset-md-4 search-movie">
            <input class="form-control" type="text" name="search" (keyup)="search($event.target.value)"  autocomplete="off" placeholder="&#61442;  Search a movie">
        </div>
    </div>
    <form *ngIf="recherche" [formGroup]="triForm" class="radio-group col-md-8 offset-md-2" (ngSubmit)="onSubmit()">
        <label id="label_tri" class="_tri col-md-2">Order by :</label>
        <mat-radio-group aria-labelledby="label_tri" class="col-md-8" formControlName="tri">
            <mat-radio-button  class="_tri col-md-3 form-control" value="title">title</mat-radio-button>
            <mat-radio-button  class="_tri col-md-3 form-control" value="year">year</mat-radio-button>
            <mat-radio-button  class="_tri col-md-3 form-control" value="rating">rating</mat-radio-button>
            <mat-radio-button  class="_tri col-md-3 form-control" value="date_added">added date</mat-radio-button>
        </mat-radio-group>
        <div class="_tri  form-group col-lg-2">
                <button [disabled]="loading" class="btn btn-primary">Order by</button>
            </div>
    </form>
</div>

<div class="principale" infiniteScroll [infiniteScrollDistance]="0.1" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
<app-film  *ngFor="let film of films"
         [title]="film.name"
         [year]="film.year"
         [duration]="film.duree"
         [affiche]=film.affiche
         [resume]=film.synopsis
         [note]=film.rating
     	 [id]=film.id></app-film>
<app-film  *ngFor="let movie of movies$ | async"
         [title]="movie.name"
         [year]="movie.year"
         [duration]="movie.duree"
         [affiche]=movie.affiche
         [resume]=movie.synopsis
         [note]=movie.rating
         [id]=movie.id></app-film>
</div>