h2{
    color: white;
    text-align: center
}
.infos{
    color: #b96e6e;
    text-decoration: none;
}
.contain_normal{
    color: white;
}
.image{
    height: 200px;
}
#_image{
    height: 200px;   
}
#ext{
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 25px;
    background-color: #749e7885;
}
