h2{
    color: white;
    text-align: center
}
.infos{
    color: #b96e6e;
    text-decoration: none;
}
.contain_normal{
    color: white;
}
.image{
    height: 200px;
}
#_image{
    height: 200px;
    
}
#Nom{
    padding-top:25px;
}
