<h2>My account</h2>
<div class="contain_normal col-lg-8 col-md-6 col-sm-12">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <p style="color: white">My Account</p>
            </ng-template>
            <p id="ext" *ngIf="compte_extene">You are logged with your {{ext}} account</p>
            <p id="Nom">Lastname = <span class="infos">{{lastname}}</span></p>
            <p id="Prenom">Firsname = <span class="infos">{{firstname}}</span></p>
            <p id="Username">Username = <span class="infos">{{username}}</span></p>
            <p id="mail">Mail = <span class="infos">{{mail}}</span></p>
            <p id="language">Favourite language = <span class="infos">{{language}}</span></p>
        </mat-tab>

        <mat-tab *ngIf="!compte_extene">
            <ng-template mat-tab-label>
                <p style="color: white">Modify Infos</p>
            </ng-template>
            <form-info [lastname]="lastname" [firstname]="firstname" [mail]="mail" [language]="language"></form-info>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <p style="color: white">Modify Logs</p>
            </ng-template>
            <form-logs [username]="username"></form-logs>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <p style="color: white">Modify Avatar</p>
            </ng-template>
            <choose-avatar></choose-avatar>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="image col-lg-4 col-md-6 col-sm-12">
    <img id="_image" *ngIf="avatar" [src]="avatar"/>
</div> 