*node_modules
*.swp

\.idea/

back/src/streams/torrent-stream/1d82c75adef98fc3f44bc39f2a9c8f94dfb6e6b0\.torrent

back/src/streams/torrent-stream/1d82c75adef98fc3f44bc39f2a9c8f94dfb6e6b0/Thor\.Ragnarok\.2017\.720p\.TS\.x264\.DUBLADO-LAPUMiAFiLMES\.COM\.mp4

back/src/streams/torrent-stream/c64f4edabd570549ec40f03a83fb4f3f124b6eac\.torrent

back/src/streams/torrent-stream/c64f4edabd570549ec40f03a83fb4f3f124b6eac/The\.Big\.Bang\.Theory\.S11E11\.HDTV\.x264-SVA\[eztv\]\.mkv

back/src/\.DS_Store

back/src/streams/torrent-stream/\.DS_Store

*.mkv

back/streams/torrent-stream/1d82c75adef98fc3f44bc39f2a9c8f94dfb6e6b0\.torrent

*.torrent

*.mp4
