<mat-card class="example-card col-lg-3 col-md-4 col-sm-12 col-xs-12">
  <mat-card-header class="example-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <!--    <mat-card-title>{{ title }}</mat-card-title> -->
    <div class="vu_or_not"><i class="far fa-eye"></i>{{ title }}</div>
  </mat-card-header>
  <a class="affiche col-lg-12 col-md-12 col-sm-12 col-xs-12" href="film/{{title}}" *ngIf="affiche" [style.background-image]="affiche"></a>
  <mat-card-content class="example-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <p>
          annee : {{ year }}
        </p>
        <p>
          duree : {{ duration }} min
        </p>
    <p >
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
