<mat-card class="example-card col-lg-3 col-md-4 col-sm-12 col-xs-12">
  <mat-card-header class="example-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      <mat-card-title><span id="vu"><i class="far fa-eye"></i></span><span>{{ title }}</span></mat-card-title>
  </mat-card-header>
  <a class="affiche col-lg-12 col-md-12 col-sm-12 col-xs-12" href="film/{{id}}" *ngIf="affiche" [style.background-image]="affiche"></a>
  <mat-card-content class="example-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <p class="col-lg-6">annee : {{ year }}</p><p class="col-lg-6">note : {{ note }}</p>
    <p class="col-lg-12">duree : {{ duration }} min</p>
    <p class="resume col-lg-12">{{resume}}</p>
  </mat-card-content>
</mat-card>
