.header_title {
  text-align: center;
  font-size: 5vh;
  color: aliceblue;
}

nav {
  text-align: left;
}

nav a {
  transition: transform .3s ease-out;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 10px;
  color: white;
}

nav a:hover {
  transform: translate(0, -5px);
  color: #000000;
  background-color: rgb(255, 255, 255);
}

nav a.active {
  background-color: #0779b1;
}
