label{
    color: white;
}

h2{
    color: aliceblue;
}

input{
    background-color: #caace854;
    color: aliceblue;
}
mat-button-toggle{
    padding: 0px;
}
input:focus{
    background-color: #caace854;
    color: aliceblue;
}
.mini_avatar{
    width: 100%;
    padding: 0px;
}
#left{
    padding-left: 0px;
}
#right{
    padding-right: 0px;
}
#all{
    padding: 0;
}
#containt{
    padding: 0px;
    height: 120px;
}