label{
    color: white;
}

h2{
    color: aliceblue;
}

input{
    background-color: #caace854;
    color: aliceblue;
}

input:focus{
    background-color: #caace854;
    color: aliceblue;
}

#left{
    padding-left: 0px;
}

#right{
    padding-right: 0px;
}
#all{
    padding: 0;
}