.mini_avatar {
  width: 100%;
  padding: 0px;
}

#containt {
  padding-top: 25px;
  padding-bottom: 25px;
}

#button_modif {
  padding-top: 10px;
}

mat-button-toggle {
  color: red;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
}
