<!--The content below is only a placeholder and can be replaced.-->
<div class="titre" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <!--<input type="text" class="form-control" [(ngModel)]="title">-->
  </h1>
</div>
<app-header></app-header>
<p> Jour : {{ lastUpdate | date : 'dd'}} [{{ lastUpdate | date : 'E'}} {{ lastUpdate | date : 'EEEE'}} {{ lastUpdate | date : 'EEEEE'}}] </p>
<p> Mois : {{ lastUpdate | date : 'MM'}} [{{ lastUpdate | date : 'MMM'}}  {{ lastUpdate | date : 'MMMM'}}  {{ lastUpdate | date : 'MMMMM'}}]</p>
<p> Annee : {{ lastUpdate | date : 'y'}}</p>
<p> Heure : {{ lastUpdate | date : 'HH'}}h {{ lastUpdate | date : 'mm:ss'}}</p>
<app-footer></app-footer>

