html {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
}

html body {
	background-color: black;
}
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
