<div class="contener">
    <h2 id="film-title">{{title}}</h2>
    <div class="player col-lg-12" [style.background-image]="background">
      <p>-----------     inserer le player ici -----------------</p>
    </div>
    <div class="info_film col-lg-12">
      <div class="col-lg-9 col-md-6 col-sm-12">
        <p id="title">Title = <span class="infos">{{title}}</span></p>
        <p id="year">Year = <span class="infos">{{year}}</span></p>
        <p id="year">Genres = <span class="infos">{{genre}}</span></p>
        <p id="duration">Duration = <span class="infos">{{duration}} min</span></p>
        <p id="cast">Casting = <span class="infos" *ngFor="let ac of cast">{{ac.name}} ({{ac.character_name}}) ,</span></p>
        <p id="syno">Synopsis = <span class="infos">{{description}}</span>
        </p>
        <p id="note">Note = <span class="infos">{{note}}</span></p>
      </div>
    <img class="col-lg-3 col-md-6 col-sm-12" *ngIf="affiche" [src]="affiche"/>
  </div>
  <div class="commentaire col-lg-12">
      <p>-----------     inserer les commentaires ici ici -----------------</p>
    </div>
</div>
