<div class="contener">
    <h2 id="film-title">{{title}}</h2>
    <div class="player col-lg-12">
      <p>-----------     inserer le player ici -----------------</p>
    </div>
    <div class="info_film col-lg-12">
      <div class="col-lg-9 col-md-6 col-sm-12">
        <p id="title">Title = <span class="infos">Superman</span></p>
        <p id="year">Year = <span class="infos">2006</span></p>
        <p id="duration">Duration = <span class="infos">180 min</span></p>
        <p id="cast">Casting = <span class="infos">Brandon Routh : Superman, Clark Kent 
            Kate Bosworth: Lois Lane
            Kevin Spacey: Lex Luthor
            James Marsden: Richard White
            Sam Huntington: Jimmy Olsen</span></p>
        <p id="syno">Synopsis = <span class="infos">Alors qu'un ennemi de longue date, Lex Luthor, 
            tente de l'affaiblir en lui dérobant tous ses superpouvoirs, Superman doit faire face à un problème 
            d'un autre genre : Lois Lane, la femme qu'il aime, est partie mener une nouvelle vie loin de lui. 
            L'a-t-elle vraiment oublié ? Le retour de Superman sera donc ponctué de nombreux défis puisqu'il devra 
            se rapprocher de son amour tout en retrouvant sa place au sein d'une société qui semble ne plus avoir besoin de lui.</span>
        </p>
        <p id="note">Note = <span class="infos">7/10</span></p>
      </div>
    <img class="col-lg-3 col-md-6 col-sm-12" src="http://fr.web.img4.acsta.net/r_1280_720/medias/nmedia/18/35/78/09/18647167.jpg"/>
  </div>
  <div class="commentaire col-lg-12">
      <p>-----------     inserer les commentaires ici ici -----------------</p>
    </div>
</div>
