.player{
    text-align: center;
    color: white;
    border: green solid 2px;
    padding-bottom: 20px;
}

.info_film{
    color: white;
    border: white solid 2px;
    border-radius: 20PX;
}

.info_film > P{
    padding: 10PX;
}