<div class="contener">
  <div class="player col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>-----------     inserer le player ici -----------------</p>
  </div>
  <div class="info_film">
    <p id="title">Title = Superman</p>
    <p id="year">Year = 2006</p>
    <p id="duration">Duration = 180 min</p>
    <p id="cast">Casting = Brandon Routh : Superman, Clark Kent
        Kate Bosworth: Lois Lane
        Kevin Spacey: Lex Luthor
        James Marsden: Richard White
        Sam Huntington: Jimmy Olsen</p>
    <p id="syno">Synopsis = Alors qu'un ennemi de longue date, Lex Luthor, tente de l'affaiblir en lui dérobant tous ses superpouvoirs, Superman doit faire face à un problème d'un autre genre : Lois Lane, la femme qu'il aime, est partie mener une nouvelle vie loin de lui. L'a-t-elle vraiment oublié ? Le retour de Superman sera donc ponctué de nombreux défis puisqu'il devra se rapprocher de son amour tout en retrouvant sa place au sein d'une société qui semble ne plus avoir besoin de lui.</p>
  </div>
</div>
